
.well {

	border-radius:8px;
}

.header {

	margin-top:30px;
	margin-bottom:0;
	padding:30px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom:none;
	background-color:#fff;
	
}

.header h1 {

	margin-top:10px;
	margin-left:100px;
}

.logo {

	padding-top:40px;
}

.blanks {

	margin-top:0;
	margin-bottom:30px;
	padding:30px;
	text-align:center;
	background-color:#A7B5AC;
	border-radius:0;
	border:none;
}

.rounded {

	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;

}

.blanks h3 {

	margin-bottom:30px;
	text-align:center;

}

.story {

	margin-top:0;
	margin-bottom:30px;
	padding:80px;
	background-color:#fff;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	
}

.story p {

	line-height:26px;
	font-size:20px;
	color:#333;
	
}

.words {
	text-decoration:underline;
	color:#aa3d3e;

}

.controls {
	margin-top:0;
	padding:30px;
	background-color:#fff;
	text-align:center;
	/*border-top-left-radius: 0;
	border-top-right-radius: 0;*/
	border:none;

}

.gender {

	margin:10px 0 20px 0;
}



.simple-form input {

	margin-bottom:15px;
	padding:20px;
	height:30px;
	width:100%;
	font-size:16px;
	border:1px solid #ccc;
	border-radius:4px;
}

.dirty .inputs {
    
    padding:10px;
    background-color:red;
 }

 .offset-top-20 {

 	margin-top:20px;
 }